/-if current_user
/  .container
/    .span6.pull-left
/      .headingBlock
/        Popular experiments
/    .span6.pull-right
/      .headingBlock
/        Recommended experiments
/      .headingBlock
/        My enrolled experiments
/-else
.hero-unit
  = high_chart("sample_chart", @chart)
  %br
  %br
  .row
    .span3
      =link_to image_tag('step1.png'), experiments_path, :class=>'no-back-hover'
      %h5
        =link_to content_tag(:small,'Propose an experiment'), experiments_path
    .span1
    .span3
      =link_to image_tag('step2.png'), experiments_path, :class=>'no-back-hover'
      %h5
        =link_to content_tag(:small,'Enroll in other experiments of interest to you'), experiments_path
    .span1
    .span3
      =link_to image_tag('step3.png'), experiments_path, :class=>'no-back-hover'
      %h5
        =link_to content_tag(:small,'Use the results to inform your decisions'), experiments_path
    .span1

  %hr
    %h3='Frequently Asked Questions'
    %p='Q. How do I restrict who can participate in my experiment?'
    %p='A. When creating your experiment, check the box under "Make this experiment private".'