/-if current_user
/  .container
/    .span6.pull-left
/      .headingBlock
/        Popular experiments
/    .span6.pull-right
/      .headingBlock
/        Recommended experiments
/      .headingBlock
/        My enrolled experiments
/-else
.hero-unit

  %h1='Use evidence to guide your life.'
  %h2='Many people have the same questions. Find the answers together.'

  /%hr
  /%h5="Search experiments" [Insert search bar]
  /%h5=link_to "See all experiments", experiments_path

  %hr

  .row{id: "herobox"}
    %ol{id: "blurb"}
      %h3="How it works:"
      %li
        -if current_user
          =link_to image_tag('step1.png'), new_experiment_path, :class=>'no-back-hover'\
          %br
          =link_to 'Anybody can propose an experiment', new_experiment_path
        -else
          =link_to image_tag('step1.png'), new_user_path, :class=>'no-back-hover'
          %br
          =link_to 'Anybody can propose an experiment', new_user_path
      %li
        =link_to image_tag('step2.png'), experiments_path, :class=>'no-back-hover'
        %br
        =link_to 'Enroll in experiments of interest to you', experiments_path
      %li
        =link_to image_tag('step3.png'), static_pages_analyze_path, :class=>'no-back-hover'
        %br
        =link_to 'Use the results to inform your decisions', static_pages_analyze_path

  %hr
    .row
      %h2='Bust myths or confirm beliefs.'
      %p='Maybe you’ve heard that drinking tea will make a cough go away faster. You can try it yourself, but you still won’t know how quickly your cough would have gone away if you hadn’t done it! We connect you to other people interested in the same question, and now we can compare outcomes for those who drank the tea and those who didn’t.  Participants are randomized to an action - this guarantees that if tea drinkers get healthier faster, this is a result of the tea and not something else about the kind of people who like tea.'
      %hr
      %h2='Randomized trials for everything.'
      %p='You can learn about what works by posing a question or participating in experiments proposed by others. The more experiments you enroll in, the easier it is to recruit subjects for your own experiments.'
      %hr
      %h2='No statistics knowledge required.'
      %p='We perform all the analysis for you. All you have to do is get enough people to sign up for your experiment and you will get a scientifically valid answer.'