%p= "Hi " + @user.name + ","
%br
%p= "“Please click the link below to enter your results now:"
%p= @url
%p= "Whether you complied with the recommended action or not, please tell us what you did and what resulted!"
