%h1= "Welcome to testifiable, " + @user.name
%p= "You have successfully signed up, your username is: " + @user.name
%br
%p= "To login, just follow this link: " + @url
%p= "Thanks for joining and have a great day!"