<table border="1">
	<tr>
		<th>DV Value</th>
		<th>IV Value</th>
		<th>Compliance</th>
	</tr>
	<% @datapoints.each do |datapoint| %>
		<tr>
			<td><%= datapoint.value %></td>
			<td><%= datapoint.iv_value %></td>
			<td><%= datapoint.compliance %></td>
		</tr>
	<% end %>
</table>