<table border="1">
	<tr>
		<th>Value 1</th>
		<th>Value 2</th>
		<th>Compliance</th>
	</tr>
	<% @datapoints.each do |datapoint| %>
		<tr>
			<td><%= datapoint.value %></td>
			<td><%= datapoint.value2 %></td>
			<td><%= datapoint.compliance %></td>
		</tr>
	<% end %>
</table>