/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/
html, body 
{ 
  height:100%;
  font-size:22pt;
}
#wrap { min-height:100%;}

#main 
{ 
  overflow:auto;
  padding-bottom:40px;
}
.footer
{
  position:relative;
  margin-top:-40px;
  height:40px;
  clear:both;
  width:100%;
  background-color:#f5f5f5;
}


@media (min-width: 979px) /* Only include padding when the viewport is bigger */
{
  #main{padding-top:60px;}
}


@media (max-width: 767px) 
{
  .footer /* To prevent footer from being less than 100% when screen size changes */
  {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -20px;
    margin-right: -20px;
  }
}

/*.headingBlock
{
  font-size:1.8em;
  font-weight:bold;
  padding-bottom:1.2em;
}

.contentBlock
{
  font-size:1.4em;
}*/

.no-back-hover:hover
{
  background-color:Transparent;
  color:inherit;
}
a.no-click-change:visted
{
  color:inherit;
}

.whiteText
{
  color:#ffffff !important;
}