/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
 *= require font-awesome
 */
html, body 
{ 
  height:100%;
  font-size:22pt;
}
#wrap { min-height:100%;}

#main 
{ 
  overflow:auto;
  padding-bottom:40px;
}
.footer
{
  position:relative;
  margin:0;
  padding-top: 3px;
  height:20px;
  clear:both;
  color: gray;
  width:100%;
}


@media (min-width: 979px) /* Only include padding when the viewport is bigger */
{
  #main{padding-top:60px;}
}


@media (max-width: 767px) 
{
  .footer /* To prevent footer from being less than 100% when screen size changes */
  {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -20px;
    margin-right: -20px;
  }
}


.no-back-hover:hover
{
  background-color:Transparent;
  color:inherit;
}
a.no-click-change:visted
{
  color:inherit;
}

#signin_menu {
    -moz-border-radius-topleft:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    display:none;
    background-color:#eee;
    position:absolute;
    z-index:100;
    border:1px transparent;
    text-align:left;
    padding:12px;
    padding-bottom: 0;
    top: 40px;
    right: 0px;
    margin-top:5px;
    margin-right: 0px;
    *margin-right: -1px;
    color:#789;
    font-size:11px;
}
#signin_menu .container {
    width:300px;
}

#recorddata_cell {
  position: absolute;
}
.recorddata_menu {
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    display:none;
    background-color:lightblue;
    position: absolute;
    z-index:100;
    border:1px transparent;
    padding:12px;
    top: -10px;
    right: 100px;
    margin-top:5px;
    margin-right: 0px;
    *margin-right: -1px;
    color:black;
    font-size:12px;
}
.recorddata_menu .container {
    width:300px;
}

#prereqs_cell {
  position: absolute;
}
.prereqs_menu {
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    display:none;
    background-color:lightblue;
    position: absolute;
    z-index:100;
    border:1px transparent;
    padding:12px;
    top: -10px;
    right: 50px;
    margin-top:5px;
    margin-right: 0px;
    *margin-right: -1px;
    color:black;
    font-size:12px;
}
.prereqs_menu .container {
    width:300px;
}