%footer.footer
  .container-fluid
    Copyright 2013
    .pull-right
      =link_to 'About Us', static_pages_about_path
      -if current_user && current_user.is_admin
        =link_to 'Users', users_path