.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{"data-toggle"=>'collapse', 'data-target'=>'.nav-collapse'}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      -if current_user
        =link_to image_tag('logo.png'), current_user, :class=>'brand'
      -else
        =link_to image_tag('logo.png'), root_path, :class=>'brand'
      .nav-collapse
        %ul.nav.pull-right
          %li=link_to raw("<i class=\"fa fa-bar-chart-o fa-lg\"></i> ")+"All Experiments", experiments_path
          /%li=link_to "About", static_pages_about_path
          -if current_user
            %li=link_to raw("<i class=\"fa fa-user fa-lg\"></i> ")+current_user.name, user_path(current_user)
            %li=link_to raw("<i class=\"fa fa-wrench fa-lg\"></i>"), edit_user_path(current_user)
            %li=link_to raw("<i class=\"fa fa-info-circle fa-lg\"></i>"), static_pages_help_path
            %li=link_to raw("<i class=\"fa fa-sign-out fa-lg\"></i>"), session_path(:current), method: :delete
          -else
            %li=link_to raw("<i class=\"fa fa-user fa-lg\"></i> ")+"Sign up", new_user_path
            %li{:class => "signin"}=link_to raw("<i class=\"fa fa-sign-in fa-lg\"></i>") + " Log in", '#'
            %fieldset{:id => "signin_menu"}
              .container
                =form_tag sessions_path do
                  .field
                    =label_tag :email
                    =text_field_tag :email, params[:email], class: 'text_field'
                  .field
                    =label_tag :password
                    =password_field_tag :password, params[:password], class: 'text_field'
                  =submit_tag 'Log in', class: 'submitbutton btn btn-primary whiteText'
                  &nbsp&nbsp
                  /%span{:class => "remember"}
                  /  %input{:id => "remember", :name => "remember_me", :value => "1", :tabindex => "7", :type => "checkbox"}
                  /  = "Remember me"
                  %br
                  %span{:class => "forgot"}
                    %a{:href => "#", :id => "resend_password_link"}= "Forgot your password?"
                  &nbsp&nbsp
                  /%span{:class => "forgot-username"}
                  /  %a{:href => "#", :id => "forgot_username_link", :title => "If you remember your password, try logging in with your email"}= "Forgot your username?"